* {
  padding: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
body {
  min-height: 100vh;
  background-image: url("jezael-melgoza-ur4NR6Sa7tc-unsplash.jpg");
  background-size: cover;
  background-position: "center";
}
/* Estilos header */
header {
  width: 100%;
}
header > ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header > ul > li {
  color: white;
  width: 150px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 16px 0px rgba(78, 77, 77, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
header > ul > li :hover {
  color: rgb(46, 46, 46);
  background-color: rgba(255, 255, 255, 0.521);
  transition: background-color 3s, color 4s;
  width: 150px;
  height: 50px;

  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-weight: 500;
}
header > ul > li > a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: large;
  font-weight: 300;
}
.searchBtn {
  width: 200px;
  height: 30px;
  cursor: pointer;
  color: #fff;
  background-color: #5f6163;
  border-color: #2a2b2c;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  padding: 10px;
  align-self: center;
}
.searchBtn:hover {
  width: 30%;
  color: rgb(46, 46, 46);
  background-color: rgba(255, 255, 255, 0.521);
  transition: width 2s, transform 2s, background-color 3s, color 4s;
}
.inputSearch{
  width: 20rem;
  height: 35px;
  border: none;
  font-weight: 700;
  color: white;
  padding-left: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 16px 0px rgba(78, 77, 77, 0.8);
  backdrop-filter: blur(10px);
  margin-left: 100px;
  border-radius: 10px;
  font-size: large;


  outline: none;
}

/* Comienza cards Styles */
.contenedorCard {
  width: 300px;
  padding: 3rem;
}
.card {
  width: 286px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 16px 0px rgba(78, 77, 77, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.card > h1,
h2,
h4 {
  color: #ffffff;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  align-self: center;
}
.card > div {
  display: flex;
  justify-content: center;
  width: 286px;
  height: auto;
}
.card > div > img {
  width: 286px;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}
.card > button:hover {
  width: 80%;
  color: rgb(46, 46, 46);
  background-color: rgba(255, 255, 255, 0.521);
  transform: translateY(12px);
  transition: width 2s, transform 2s, background-color 3s, color 4s;
}
.card > button {
  width: 50%;
  height: 30px;
  cursor: pointer;
  color: #fff;
  background-color: #5f6163;
  border-color: #2a2b2c;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  padding: 10px;
  align-self: center;
}
.sectionsCars {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Footer Section */
footer {
  width: 100%;
  height: 200px;
  background-color: #2a2b2c36;
  display: flex;
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  overflow: hidden;

}
footer > ul {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > ul > li {
  color: white;
  width: 150px;
  height: 50px;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 16px 0px rgba(78, 77, 77, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
footer > ul > li :hover {
  color: rgb(46, 46, 46);
  background-color: rgba(255, 255, 255, 0.521);
  transition: background-color 3s, color 4s;
  width: 150px;
  height: 50px;

  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-weight: 500;
}
footer > ul > li > a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: large;
  font-weight: 500;
}
footer>div{
  align-self: flex-end;
  
  width: 30%;
  padding: 35px;
  position: absolute;
  display: flex;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  transform: translateY(10px);
}